<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangan.qing.upms.dao.mapper.UpmsLogMapper">
    <resultMap id="BaseResultMap" type="com.wangan.qing.upms.dao.model.UpmsLog">
        <id column="log_id" jdbcType="INTEGER" property="logId" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="start_time" jdbcType="BIGINT" property="startTime" />
        <result column="spend_time" jdbcType="INTEGER" property="spendTime" />
        <result column="base_path" jdbcType="VARCHAR" property="basePath" />
        <result column="uri" jdbcType="VARCHAR" property="uri" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="method" jdbcType="VARCHAR" property="method" />
        <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="permissions" jdbcType="VARCHAR" property="permissions" />
    </resultMap>


    <insert id="insertUpmsLogRecord" parameterType="com.wangan.qing.upms.dao.model.UpmsLog">
        insert into upms_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                log_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="spendTime != null">
                spend_time,
            </if>
            <if test="basePath != null">
                base_path,
            </if>
            <if test="uri != null">
                uri,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="userAgent != null">
                user_agent,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="permissions != null">
                permissions,
            </if>
            <if test="parameter != null">
                parameter,
            </if>
            <if test="result != null">
                result,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=BIGINT},
            </if>
            <if test="spendTime != null">
                #{spendTime,jdbcType=INTEGER},
            </if>
            <if test="basePath != null">
                #{basePath,jdbcType=VARCHAR},
            </if>
            <if test="uri != null">
                #{uri,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="userAgent != null">
                #{userAgent,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="permissions != null">
                #{permissions,jdbcType=VARCHAR},
            </if>
            <if test="parameter != null">
                #{parameter,jdbcType=LONGVARCHAR},
            </if>
            <if test="result != null">
                #{result,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

</mapper>